# project
.idea/
*.iml
*.ipr
*.iws

# build
target/
build/
classes/
out/
dist/
.gradle/
.vagrant/

# sbt
lib_managed
project/boot
project/build/target
project/plugins/

# travis, surge, npm, ...
node_modules
package-lock.json
deploy

# log files
logs/
*.log
hs_err_pid*