@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #555;
    line-height: 1.5;
    padding: 1em 1em;
}

h1, h2, h3, h4 strong {
    color: #333;
}

#root {
    margin:0 auto;
    max-width: 50em;
}

pre {
    background: #eee;
    padding: 2px 4px;
    vertical-align: text-bottom;
}

.timer {
    font-size: 10px;
    color: white;
    background-color: #4183c4;
    width: 15em;
}

a, i {
    color: #e81c4f;
}
