<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
    <!-- This JNDI entry goes to java:comp/env/remote-address context variable -->
    <env-entry>
        <env-entry-name>remote-address</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>http://www.wp.pl</env-entry-value>
    </env-entry>

    <listener>
        <listener-class>learning.webapps.ApplicationContextListener</listener-class>
    </listener>

    <welcome-file-list>
        <welcome-file>main.jsp</welcome-file>
    </welcome-file-list>
</web-app>